@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=PT+Serif:ital,wght@0,400;0,700;1,400&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,800;1,400;1,800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.btn-animation {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
  animation: vision 0.7s linear infinite alternate;
}

@keyframes vision {
  to {
    transform: translate(-10px);
  }
}

.animation-image {
  animation: moveRight 25s alternate-reverse infinite;
  white-space: nowrap;
}

@keyframes moveRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100%));
  }
}

.animation-image2 {
  animation: moveLeft 25s alternate-reverse infinite;
  white-space: nowrap;
}

@keyframes moveLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
